@import './theme.scss';
/* 改变主题色变量 */
$--color-primary: $theme-color;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
.el-submenu__title:hover, .el-submenu__title:focus {
    outline: none;
    background-color: $theme-color!important;
    opacity: 0.8;
}

.el-menu-item:hover, .el-menu-item:focus,.el-menu-item.is-active{
    background-color: $theme-color!important;
    opacity: 0.8;
}

// .top-info{
//     height: auto!important;
//     line-height: 1!important;
// } 

// .top-info {
//   width: 100%;
//   height: 80px;
//   background-color: #fff;
//   line-height: 80px;
//   padding: 0 30px;
//   box-sizing: border-box;
// }

@import "~element-ui/packages/theme-chalk/src/index";